
.search-bar {
  text-align: left;
}

.search-bar:hover {

  column-rule-color: grey;

}
.video-item img {
  max-width: 64px;
}

.video-detail {

  padding: 10px;
  border: 1px solid;
  border-bottom: 1px;
  border-right: 1px;



}

.list-group-item {
  cursor: pointer:
}

.list-group-item:hover {
  background-color: #eee;
  font-weight: bold;
}
body, html{
    padding:0!important;
    margin:0 !important;

    background:black;//is this what you want?
}

.details {
  font-family: sans-serif;
  padding-top: 8px;
  color: #d7d9d8;
  font-size: 13px;
  font-style: italic;
  length: 100px;
}
.media-heading {
  font-size: 11px;
}
.titleFont {
  padding-top: 15px;
  color: #d7d9d8;
  font-weight: bold;
  font-size: 18px;
  font-stretch: semi-expanded;
}

.img {
  width: 10px;
  height: 10px;
}
.everything {
  background-color: black;
  padding-top: 0px;
  padding-bottom: 0px;
}
.media-object  {

}
